header {
  background-color: #F1F1F1;
  height: 50px;
  position: fixed;
  display: flex;
  width: 100%;
  left: 0px;
  right:0px;
  top: 0px;
  justify-content: space-evenly;
  padding: 10px 11px;
}

@media(min-width:900px) {
  header {
    margin: 0 30px 0px 30px;
    height:60px;
  }
}


.part1 {
  flex: 5;
  align-content: center;
  font-weight: bold;
  font-size: 30px;
}

.part2 {
  padding-right:20px;
  flex: 2;
  display: flex;
  column-gap: 8px;
  align-items: center;
  justify-content: center;
  text-align :center
  
}

.part2 .add-input,
.part2 .clear ,
.part2 .progress{
  
  height: 90%;
  width: 50px;
  background-color: #D9D9D9;
  border: none;
  border-radius: 13px;
  align-content: center;
}

.part2 img {
  text-align: center;
  height: 50%;
  margin-top: 4px;
  
}




/* -------- popup oberlay --------- */

.popup {
  background-color: #000000BD;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  display: none;
  justify-content: center;
  z-index: 9999;
}


.switch {
  display: flex;
}





/* ------ input bars styling ----- */
.add-from-user {
  width:90%;
  padding:10px;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: bold;
  row-gap:5px;
  align-content:center;

}


.add-from-user input {
  width:90%;
  padding: 15px 15px;
  margin: 0px 0px;
  font-size: 16px;
  border-radius: 12px;
  color:black;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06); 
  border:none;
  background-color: white;
  
}

.add-from-user .submit{
  padding: 17px 15px;
  font-size: 18px;
  font-weight:bold;
  border-radius: 12px;
  color: black;
  background-color: #D9D9D9;
  border:none;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
}

.input-content {
  position: absolute;
  bottom:0px;
  padding: 15px 0px;
  width:100%;
  background-color: #F1F1F1;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 15px;
  border-radius: 13px;
  border: 1px solid black;
}

/* slide up animation */  
@keyframes slideUp {
  0% {
    transform: translateY(100%); /* start from bottom */
    opacity: 0;
  }
  100% {
    transform: translateY(0); /* end at normal position */
    opacity: 1;
  }
}

.slide-up {
  animation: slideUp 0.5s ease-out forwards;
}
/* ------------&6-6&-&&,----&&&&&----*/  


/* slide down animation */  
@keyframes slideDown {
  0% {
    transform: translateY(-100%); /* start off-screen top */
    opacity: 0;
  }
  100% {
    transform: translateY(0); /* end at normal position */
    opacity: 1;
  }
}

.slide-down {
  animation: slideDown 0.5s ease-out forwards;
}
/* ------------&6-6&-&&,----&&&&&----*/  





@media(min-width:900px){
 .add-from-user input, 
 .add-from-user .submit {
   padding:27px 15px;
 }
 

}


@media(min-width:900px) {
  .input-content {
    height: 500px;
    padding-top :22px;
  }
  header{
    height: 60px;
  }
  .part1{
    font-size:42px ;
    flex:4;
  }
.part2 .add-input,
.part2 .clear,
.part2 .progress{
  width:60px;
}

}